img{
    width: 250px;
    right: 250px;
}
.pacote{
    background-color: rgb(208, 175, 42);
    border-style:inset;
    border-color: black;
}
.word{
    background-color: rgb(129, 129, 218);
    border-style:inset;
    border-color: black;
}
.tabela1{
    table-layout: inherit;
    border: 1px solid black;

        background-color: #608fc4;
        }       

.powerpoint{
    background-color: orange;
    border-style:inset;
    border-color: black;
}
.tabela2{
    table-layout: inherit;
    border: 1px solid black;
    background-color: #c87817;
}       

.excel{

    background-color: greenyellow;
    border-style:inset;
    border-color: black;
}

.tabela3{
    table-layout: inherit;
    border: 1px solid black;
    background-color: #8ac817;
}